.mypy_cache
*.pyc
source/private/*
lists/private/*
tests/*/private/*
nohup.out
*.log
.idea
*.suo
*.ini
!*.dist.ini
src/*
pkg/*
!pkg/botgotsthis
!pkg/custom_command
!pkg/feature
!pkg/moderation
!pkg/repeat
!pkg/spam
!pkg/textformat
!pkg/twitch
!pkg/base-pkg

# Ignoring sqlite databases
*.db
*.sqlite*
