.mypy_cache
*.pyc
source/private/*
lists/private/*
tests/*/private/*
nohup.out
*.log
.idea
*.suo
config.ini
twitch.ini
twitchApi.ini
database.ini
src/*
pkg/*
!pkg/botgotsthis

# Ignoring sqlite databases
*.db
*.sqlite*
